@use '../../../../../styles/abstracts/functions' as *;

.title {
  max-width: rem(920);
  font-size: 80px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: rem(32);
  span {
    display: inline-block;
    clip-path: inset(0 0 100% 0);
    transform: translateY(100%) scaleY(1.5);
    opacity: 0;
    transition: all 2s ease-out;
  }
  &.titleAnimate {
    span {
      transform: translateY(0) scaleY(1);
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }
}

.titleHeart {
  display: inline-block;
  & > div {
    position: relative;
    top: 7px;
    left: -5px;
  }
}

.text {
  max-width: rem(536);
  margin-left: rem(96);
}

.textItem {
  font-weight: 400;
  font-size: 16px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}