@use '../../../../styles/abstracts/functions' as *;

.tip {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 14px;
  padding: rem(9);
  transform: scale(0);
  opacity: 0;
  font-weight: 500;
  font-size: rem(22);
  line-height: rem(28);
  transition: all 0.8s ease-out;
  &.topLeft.show,
  &.bottomLeft.show {
    transform: scale(1) rotate(-15deg);
  }
  &.topRight.show,
  &.bottomRight.show {
    transform: scale(1) rotate(15deg);
  }
  &.show {
    opacity: 1;
  }
}

.tipContent {
  padding: rem(24) rem(24) rem(14) rem(24);
  border-radius: 10px;
  &.iconRight {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 61px;
  }
  &.bgRed {
    background: #C24349;
  }
  &.bgBlue {
    background: #006F8F;
  }
  &.bgMayonnaise {
    background: #F6EED0;
    color: black;
  }
}

.tipContent:not(.onlyText):not(.iconRight) {
  display: grid;
  gap: 20px;
  grid-template-columns: 61px 1fr;
}