[class*='__image-ibg'] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

[data-cursor-hide] {
	cursor: pointer;
}

.click-cursor {
	position: fixed;
	top: 50%;
	left: 50%;
	opacity: 0;
	width: 64px;
	height: 64px;
	line-height: 60px;
	text-align: center;
	border-radius: 100%;
	user-select: none;
	pointer-events: none;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url('/image/cursor-img.svg');
	background-position: center;
	background-repeat: no-repeat;
	backdrop-filter: blur(2px);
	z-index: 10000;
	transform-origin: center center;
	transform: scale(0);
	&.hide {
		display: none;
	}
}

@media(any-hover: none) {
	.click-cursor {
		display: none;
	}
}

.no-scroll {
	overflow: hidden;
}

.visually-hidden {
	opacity: 0!important;
	visibility: hidden!important;
	pointer-events: none!important;
}

button {
	&:active {
		transform: scale(0.97)!important;
	}
}

.split-text {
	&.firstShow {
		& > div {
			& > span {
				animation-duration: 2s;
			}
		}
	}
	&.reveal {
		& > div {
			& > span {
				animation-play-state: running;
			}
		}
	}
	&:not(.reveal):not(.firstShow) {
		& > div {
			& > span {
				animation-name: revealAnimationReverse;
				animation-duration: 1s;
				animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
				animation-fill-mode: forwards;
				animation-play-state: running;
			}
		}
	}
	& > div {
		display: inline-block;
		overflow: hidden;
		animation-delay: inherit;
		&:not(:last-child) {
			margin-right: 6px;
		}

		& > span {
			display: inline-block;
			animation-name: revealAnimation;
			animation-duration: 1s;
			animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
			animation-fill-mode: forwards;
			animation-play-state: paused;
			animation-delay: inherit;
			opacity: 0;
			transform: scaleY(1.5) translate3d(0, 100%, 0);
		}
	}
}

.split-text-lines {
	&.firstShow {
		& > div {
			& > span {
				& > span {
					animation-duration: 2s;
				}
			}
		}
	}
	&.reveal {
		& > div {
			& > span {
				& > span {
					animation-play-state: running;
				}
			}
		}
	}
	&:not(.reveal) {
		& > div {
			& > span {
				& > span {
					animation-name: revealAnimationReverse;
					animation-duration: 1s;
					animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
					animation-fill-mode: forwards;
					animation-play-state: running;
				}
			}
		}
	}
	& > div {
		display: inline;
		//margin-right: 6px;
		& > span {
			display: inline-block;
			overflow: hidden;
			animation-delay: inherit;
			& > span {
				display: inline-block;
				animation-name: revealAnimation;
				animation-duration: 1s;
				animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
				animation-fill-mode: forwards;
				animation-play-state: paused;
				animation-delay: inherit;
				opacity: 0;
				transform: scaleY(1.5) translate3d(0, 100%, 0);
			}
		}
	}
}

@keyframes revealAnimation {
	from {
		opacity: 0;
		transform: scaleY(1.5) translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: scaleY(1) translate3d(0, 0, 0);
	}
}
@keyframes revealAnimationReverse {
	from {
		opacity: 1;
		transform: scaleY(1) translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: scaleY(1.5) translate3d(0, 100%, 0);
	}
}

