html {
	font-size: var(--defaultFontSize) + px;
	line-height: 1.38;
}

html,
body,
#root,
#__next {
	height: 100%;
	min-height: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	font-family: var(--firsneueFont), Arial, Helvetica, sans-serif;
	background-color: var(--blue);
	color: var(--white);
}
